
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
  }
  h1 {
    font-size: 2em;
    text-align: center;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #4caf89;
  }
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
  }
  section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #d8d5d5;
  }
  footer a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
  }